/* Mobile Styles */
@media only screen and (max-width: 810px) {

    body {
      font-family:'Courier New', Courier, monospace;
      background-size: 400%;
      background-position: 50% 20px;
      text-align: center;
}

    #art {
        max-width: 350px;
        margin: 0 auto;
        background-color: white;
        overflow: hidden;

    }

    img {
        width: 335px;
        height: auto;
        margin: auto;
        display: block;
    }
  

    h4 {
        color: red;
        font-size: 1.5em;
        /* margin: 30px 80px 10px 30px; */
        text-align: center;
    }

    h1 {
        text-decoration: underline;
        font-size: 1.7em;
        /* margin: 30px 80px 10px 30px; */
        text-align: center;
    } 

    ul {
        list-style-type: none;
        font-size: 1.2em;
        /* margin: 30px 30px 10px 30px; */
    }

  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 811px) and (max-width: 1130px) {

    body {
      font-family:'Courier New', Courier, monospace;
      background: url("") no-repeat fixed;
      background-size: 150%;
      background-position: 50% -25px; 
      text-align: center;
}
   
    #art {
        max-width: 750px;
        margin: 0 auto;
        background-color: white;
        overflow: hidden;

    }

    img {
        width: 70%;
        height: auto;
        margin: auto;
        display: block;
    }

    ul {
        list-style-type: none;
        font-size: 1.5em;
    }
    
    h1 {
        text-decoration: underline;
        text-align: center;
        font-size: 2em;
    }

    .mainheading {
        padding: 0 20px;
        text-align: center;
    }
    
    h4 {
        color: red;
        font-size: 1.4em;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 1131px) {

    body {
      font-family:'Courier New', Courier, monospace;
      background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/RKwGR4d/neon-party-motion-background-02_vjqnwgxqe__F0000.png") no-repeat fixed;
      background-size: 120%;
      background-position: 50% -40px; 
      text-align: center;
}
#bev-title {
    font-size: 60px;
    font-family: 'Futura';
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}
#bev-fitness {
    padding: 10px;
    transition: transform .2s; /* Animation */
    
}
#fitness {
    font-style: oblique;
    font-weight: 600;
    text-align: center;
   
}
#bev-fitness:hover {
    transform: scale(1.5);
}
#bev-other {
    max-width: 500px;
    transition: all .2s ease-in-out;
}
#bev-other:hover {
    transform: scale(1.1);
}
#other {
    font-weight: 600;
}
#bev-pics {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    max-width: 550px;
}
#bev-pics:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
}

    /* img ~ img {
        display: inline;
        float: left;
        width: auto;
        height: 530px;
        margin-right: 0px;
    } */

    #art {
        display: block;
        max-width: 1100px;
        margin: auto;
        margin-top: 20px;
        padding-top: 50px;
        background-color: pink;
        overflow: hidden;
    }

    ul {
        list-style: none;
        list-style-type: none;
        list-style-position: inside;
        padding: 0%;
    }
    #art > img:first-of-type {
      display: block;
      margin: 0 auto;
      width: 400px;
      height: auto;
    }

    h4{
        color: red;
        font-size: 1.5em;
        text-align: center;
    }

    p {
      display: block;
      float: left;
      text-align: center;

    }
    .pTag {
        font-style: oblique;
        font-weight: 600;
    }

    h1 {
      text-align: center;
    }


    p {
        flex-wrap: nowrap;
        float: none;
        display: block;
    }

    .associateClass {
        display: inline-block;
        margin: 0 auto;
        margin-left: 1%;
        margin-right: 1%
    }

    .associateClass img {
        height: 435px;
    }